<template>
  <div>
    {{message}}
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapState } from 'vuex';

export default Vue.extend({
  name: 'Main',
  computed: {
    ...mapState(['message']),
  }
});
</script>