<template>
  <div>
    <h1>Hello From Router</h1>
    <nav>
      <router-link to="/">Home</router-link>
      <router-link to="/another">Click me</router-link>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import router from './routes';

  export default Vue.extend({
    router,
    name: 'AppComponent'
  })
</script>